.abonements {
  @media (min-width: 768px) {
    background: calc(50% + 206px) no-repeat;

    .no-js &,
    .no-webp & {
      background-image: url("../img/abonements_bg-tablet.png");
    }

    .webp & {
      background-image: url("../img/abonements_bg-tablet.webp");
    }
  }

  @media (min-width: 1920px) {
    background-position: calc(50% - 425px) calc(50% - 13px);

    .no-js &,
    .no-webp & {
      background-image: url("../img/abonements_bg-desktop.png");
    }

    .webp & {
      background-image: url("../img/abonements_bg-desktop.webp");
    }
  }
}

.abonements__wrapper {
  @extend %container;
  display: flex;

  @media (max-width: 767px) {
    max-width: 604px;
  }
}

.abonements__form {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 90px;
  padding-bottom: 90px;

  @media (min-width: 1920px) {
    padding-top: 27px;
    padding-bottom: 100px;
    padding-left: 870px;
  }
}

.abonements__form-inner {
  width: 100%;
  margin-bottom: 40px;

  @media (min-width: 768px) {
    margin-bottom: 60px;
  }
}

.abonements__fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 564px;

  @supports (display: grid) {
    display: grid;
    grid-template-columns: repeat(2, 280px);
    gap: 4px;
  }
}

.abonements__field {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  width: 280px;
  height: 140px;
  margin-bottom: 4px;
  padding: 28px 20px 32px 40px;
  background-color: $colorWhite;
  transition: box-shadow 0.3s;

  &:nth-last-child(-n+2) {
    margin-bottom: 0;
  }

  @each $state in hover, focus-within {
    &:#{$state} {
      z-index: 2;
      box-shadow: 0 0 30px rgba($colorBlack, 0.1);
    }
  }

  &:active {
    box-shadow: none;
  }

  @supports (display: grid) {
    margin-bottom: 0;
  }
}

.abonements__label {
  display: block;
  font-size: $fontSizeTextDesktop;
  line-height: $lineHeightTitleSmall;
  cursor: pointer;
  user-select: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 20px;
    z-index: -1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: translateY(-50%);
  }

  &::before {
    background-color: $colorBackground;
  }

  &::after {
    background-image: $gradientHorizontal;
    opacity: 0;
    transition: opacity 0.3s;
  }

  svg {
    position: absolute;
    top: 50%;
    right: 34px;
    width: 12px;
    height: 12px;
    transform: translateY(-50%);
    transition: fill 0.3s;
    fill: rgba($colorBlack, 0.2);
  }

  span {
    display: block;
    padding-right: 60px;
  }

  b {
    font-weight: $fontWeightBold;
    font-size: $fontSizeTextHuge;
    line-height: $lineHeightNormal;
    color: $colorPrimary;
    white-space: nowrap;

    @supports (background-clip: text) {
      color: transparent;
      background: $gradientVertical $colorPrimary;
      background-clip: text;
    }
  }

  input:checked + & {
    &::after {
      opacity: 1;
    }

    svg {
      fill: $colorWhite;
    }
  }
}
