.hero {
  background: center calc(50% - 161px) no-repeat local;

  .no-js &,
  .no-webp & {
    background-image: url("../img/hero_image-mobile.png");
  }

  .webp & {
    background-image: url("../img/hero_image-mobile.webp");
  }

  @media (min-width: 768px) {
    background-position: calc(50% + 262px) calc(50% - 8px);

    .no-js &,
    .no-webp & {
      background-image: url("../img/hero_image-tablet.png");
    }

    .webp & {
      background-image: url("../img/hero_image-tablet.webp");
    }
  }

  @media (min-width: 1920px) {
    background-position: calc(50% - 396px) calc(50% + 6px);

    .no-js &,
    .no-webp & {
      background-image: url("../img/hero_image-desktop.png");
    }

    .webp & {
      background-image: url("../img/hero_image-desktop.webp");
    }
  }
}

.hero__wrapper {
  @extend %container;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: 767px) {
    max-width: 375px;
  }

  @media (min-width: 1920px) {
    align-items: flex-end;
  }
}

.hero__content {
  display: flex;
  flex-basis: 412px;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 60px;
  padding-bottom: 60px;

  @media (min-width: 768px) {
    flex-basis: auto;
    width: 410px;
    padding-top: 30px;
  }

  @media (min-width: 1920px) {
    width: 710px;
    padding-top: 13px;
    padding-right: 160px;
  }
}

.hero__heading {
  position: relative;
  margin-bottom: -1px;
  padding-left: 7px;

  @media (min-width: 768px) {
    margin-bottom: -11px;
  }

  @media (min-width: 1920px) {
    margin-bottom: -6px;
    padding-left: 11px;
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: $fontWeightMedium;
  font-size: $fontSizeTitleHeroMobile;
  line-height: $lineHeightNormal;
  color: $colorPrimary;
  letter-spacing: $letterSpacing;

  span {
    position: absolute;
    bottom: 35px;
    left: -2px;
    font-weight: $fontWeightNormal;
    font-size: $fontSizeTextMobile;
    letter-spacing: normal;
    transform: rotate(180deg);
    writing-mode: vertical-rl;

    @supports (background-clip: text) {
      color: transparent;
      background: $gradientVerticalInverse $colorPrimary;
      background-clip: text;
    }
  }

  @supports (background-clip: text) {
    color: transparent;
    background: $gradientVertical $colorPrimary;
    background-clip: text;
  }

  @media (min-width: 768px) {
    font-size: $fontSizeTitleHeroTablet;

    span {
      bottom: 40px;
      left: -3px;
      font-size: $fontSizeTextDesktop;
    }
  }

  @media (min-width: 1920px) {
    font-size: $fontSizeTitleHeroDesktop;
    letter-spacing: normal;

    span {
      bottom: 54px;
      left: -5px;
      font-size: $fontSizeTextHuge;
    }
  }
}

.hero__scroll {
  position: absolute;
  display: none;
  top: 86px;
  left: 121px;

  @media (min-width: 768px) and (max-width: 1919px) {
    display: block;
  }
}

.hero__invite {
  position: relative;
  padding-left: 60px;
  line-height: $lineHeightTextSmall;
  color: inherit;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  &::before {
    background-color: $colorWhite;
    transition: box-shadow 0.3s;
  }

  &::after {
    background-image: $gradientVertical;
    transition: opacity 0.3s;
  }

  svg {
    position: absolute;
    top: 17px;
    left: 17px;
    z-index: 1;
    fill: $colorWhite;
  }

  &:hover,
  &:focus {
    outline: none;

    &::before {
      box-shadow: 0 0 30px rgba($colorBlack, 0.1);
    }

    &::after {
      opacity: 0;
    }

    svg {
      fill: url("#gradientVertical") $colorWhite;
    }
  }

  &:active {
    &::before {
      box-shadow: none;
    }
  }

  @media (min-width: 768px) {
    padding-left: 70px;
    font-size: $fontSizeTextLarge;
    line-height: $lineHeightTextLarge;

    &::before,
    &::after {
      top: 5px;
    }

    svg {
      top: 22px;
    }
  }

  @media (min-width: 1920px) {
    width: 340px;
    padding-left: 89px;

    &::before,
    &::after {
      top: 1px;
      width: 60px;
      height: 60px;
    }

    svg {
      top: 21px;
      left: 20px;
      width: 20px;
      height: 20px;
    }
  }
}
